body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5e1ce;
}

.contenedor {
    background-color: #e8c39e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #7a5c3c;
    margin-bottom: 20px;
}

.contenedor h1 {
    color: #ffffff;
    font-size: 60px;
}

article {
    background-color: #f5e1ce;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ejemplo {
    background-color: #7a5c3c;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
}

legend {
    color: #ffffff;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #b08e6b;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e8c39e;
}

#mensaje {
    margin-top: 20px;
    color: #312e2e;
    background-color: aliceblue;
}

h3 {
    text-align: right;
}